<br />
@model List<foodcore.Models.Menu>



<div class="row" >


    
        @foreach(var item in Model)
{
   
       
    <div class="col-sm-3 col-md-6  col-lg-4 col-xl-2"> 
        <div class="card">
        
         <img src="~/@item.Images">
         <div class="container">
   <div>@item.Itemid</div>
   <div>@item.Itemname</div>
   <div>@item.Price</div>
   <div>@item.Itemdesc</div>
  <a asp-action="Myorders"  asp-route-myitemid=@item.Itemid     asp-route-myitemname=@item.Itemname asp-route-myitemprice=@item.Price asp-route-myitemimg=@item.Images class="btn btn-info">Order Now</a>
  </div>
  <a asp-action="Addcart"  asp-route-myitemid=@item.Itemid asp-route-myitemname=@item.Itemname class="btn btn-info">Wishlist</a>
  </div>
   </div>
  
  }
          
    
    </div>