@model foodcore.Models.Register
<div style="width:500px; margin-left:300px">
<form method="post">
    <label>Enter username</label>
  <input type="text"  asp-for=Username class="form-control" />
  



    <label>Enter password</label>
 <input type="text" asp-for=Pwd  class="form-control"/> <br />


    <label>Enter DOB</label>
 <input type="date" asp-for=Dob class="form-control" /><br />


    <label>Enter Email</label>
 <input type="text" asp-for=Email class="form-control" /><br />


    <label>Select Gender</label>
 <input type="radio" asp-for=Gender value="true" >
 <input type="radio" asp-for=Gender  value="false" /> <br />

    <label>Enter Phone</label>
   <input type="text" asp-for=Phone  class="form-control"/><br />

    <label>Enter Nationality</label>

    <input type="text" asp-for=Nationality  class="form-control"/><br />
  
    <br /><br />

    <input type="submit" value="Register" class="btn btn-primary"  />

</form>
</div>
@ViewData["a"]